:root {
  --main-bg: #ffffff;
  --second-bg: #efeff7;
  --txt-color:  #455560;
  --txt-white:  #fff;
  --main-color: #349eff;
  --second-color: #62b4ff;
  --box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;

  --sidebar-width:  300px;
  --border-radius:  15px;
  --topnav-height:  110px;
  --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
  color: var(--main-color);  
}

button  {
  cursor: pointer;
  border: 0;
  outline: 0;
  color: var(--txt-color);
}

ul  {
  list-style-type: none;
}

input {
  border: 2px solid transparent;
  outline: 0;
}

input:focus {
  border: 2px solid var(--main-color);
}

.page-header {
  margin-bottom: 40px;
  text-transform: capitalize;
}

.card {
  padding: 30px;
  margin-bottom: 30px;
  background-image: linear-gradient(to top right, #4B13CC, rgb(158, 5, 158));
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);  
}

.full-height {
  height: 100%;
}

.card.full-height {
  height: calc(100% - 30px);
}